html {
    height: 100%;
}

body {
    background-image: url('img/bg-camponline2019.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 320px;
    font-family: 'Source Sans Pro';
    text-align: center;
    height: 100%;
    text-align: center;
}

.logo {
    width: 150px;
}

.site_header {
    margin: auto;
    color: white;
}

.box h1 {
    margin: auto;
    color: black;
}

h2 {
    color: black;
}

h3 {
    margin: auto;
    color: black;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none;
    margin: auto;
    margin-bottom: 25px;
}

.center img {
    display: flex;
    max-width: 256px;
    max-height: 256px;
}

.box {
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
    max-width: 700px;
    margin-top: 25px;
    text-align: center;
    display: grid;
}

.event_logo {
    margin: auto;
}

.app {
    margin: 50px auto auto auto;

}

.store {
    display: flex;
}

.store_logo {
    margin: 10px;
    height: 50px;
}

small {
    margin-top: 10px;
}

.footer {
    font-size: 12px;
    color: white;
    vertical-align: bottom;
}

.footer a {
    color: gainsboro
}
